name: Test Configuration
on: push

jobs:
  main:
    name: Main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup Python
        uses: actions/setup-python@master
        with:
          python-version: '3.x'
      - name: Install Platform IO
        run: |
          python -m pip install --upgrade pip
          pip install -U platformio
      - name: Build
        run: platformio run -e native
      - name: unit test
        run: platformio test -e native
#      - name: List remote devices
#        run: platformio remote device list        
#      - name: remote unit test
#        run: platformio remote test -e uno
      - name: Failure Notification
        uses: aaaaaa/action-slack@1.5.0
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        with:
          args: Build failed
        if: failure()
